.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login__logo {
  margin-bottom: 30px;

  &--big {
    margin-top: 150px;
    width: 200px;
  }

  &--small {
    width: 100px;
    -webkit-transition: width 1s, margin-top 1s;
    transition: width 1s, margin-top 1s;
  }
}

.MuiButton-root.login__start-button {
  background-color: $ocean;

  &:hover {
    background-color: $ocean;
  }
}