@import './scss/scaffolding.scss';
@import './scss/variables.scss';
@import './scss/visually-hidden.scss';

@import './components/app/app.scss';
@import './components/login/login.scss';
@import './components/logo/logo.scss';
@import './components/login-form/login-form.scss';
@import './components/phone-book/phone-book.scss';
@import './components/contacts/contacts.scss';
@import './components/message-popup/message-popup';
@import './components/contact-edit-form/contact-edit-form';
@import './components/search/search';