@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2"),
    url("../fonts/Roboto-Light.woff"),
    url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2"),
    url("../fonts/Roboto-Regular.woff"),
    url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2"),
    url("../fonts/Roboto-Medium.woff"),
    url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2"),
    url("../fonts/Roboto-Bold.woff"),
    url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  box-sizing: border-box;
  min-width: 343px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}