.contacts {  
  margin-bottom: 25px;
  border-spacing: 0;
}

.contacts__row {

  &:nth-child(2n) {
    background-color: $light-ocean;
  }
}

.contacts__name {
  min-width: 170px;
  max-width: 400px;
}

.contacts__context {
  min-width: 120px;
  max-width: 350px;
}

.contacts__phone {
  min-width: 100px;
  max-width: 220px;
}

.contacts__control {
  padding: 5px 10px;
}

.contacts__name,
.contacts__context,
.contacts__phone,
.contacts__control {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $peacock;
}

.contacts__name,
.contacts__context,
.contacts__phone {
  padding: 5px 30px 5px 10px;
}

.MuiIconButton-root.contacts__edit-button,
.MuiIconButton-root.contacts__delete-button {
  padding: 0px;
}

.MuiIconButton-root.contacts__edit-button {
  margin-right: 8px;
}

.MuiSvgIcon-root.contacts__edit-icon,
.MuiSvgIcon-root.contacts__delete-icon {
  fill: $ocean;
}